@import "varibiles";

button {
  cursor: pointer;
}

.btn {
  border: none;
  display: inline-block;
  font-size: $base-font-size;

  @media (min-width: $min-pad-width) {
    padding: $base-click-padding;
  }

  @media (max-width: $max-phone-width) {
    padding: $base-touch-padding;
  }

  &:hover, &:focus, &:active {
    outline: none;
  }
}

.btn-radius {
  border-radius: $base-radius;
}


@mixin btn-color($bg, $bg-hover, $color) {
  background-color: $bg;
  color: $color;
  transition-duration: $base-transition;
  transition-property: background-color;

  @media (min-width: $min-pc-width) {
    &:hover {
      background-color: $bg-hover;
      transition-duration: 0s;
    }
  }

  @media (max-width: $max-pad-width) {
    &:active {
      background-color: $bg-hover;
      transition-duration: 0s;
    }
  }
}

.btn-blue {
  @include btn-color($color-blue, $color-blue-hover, #fff);
}

.btn-pink {
  @include btn-color($color-pink, $color-pink-hover, #fff);
}

.btn-yellow {
  @include btn-color($color-yellow, $color-yellow-hover, #fff);
}

.btn-red {
  @include btn-color($color-red, $color-red-hover, #fff);
}

.btn-green {
  @include btn-color($color-green, $color-green-hover, #fff);
}

.btn-gray {
  @include btn-color($color-gray, $color-gray-hover, #fff);
}