$color-blue: #00bfef;
$color-blue-hover: #00a7de;
$color-blue-deep : #00a1d6;

$color-pink: #ff8eb3;
$color-link-gray: #6d757a;
$color-help: #c33;

$color-gray: #ccd0d7;
$color-gray-hover: #99a2aa;

$color-green: #52C6CA;
$color-green-hover: #00bb9c;

$color-pink: #ff9eb0;
$color-pink-hover: #ff607f;

$color-yellow: #f3cf4a;
$color-yellow-hover: #fdbc40;

$color-red: #fc605c;
$color-red-hover: #c84c44;

$max-device-width: 1440px;
$base-font-size: 14px;
$base-transition: .4s;
$base-padding: 8px 12px;
$base-radius: 5px;